h1 {
    color: red;
}
li{
    list-style: none;
}
#dashboard {
    margin: 0px;
    padding: 0px;
}
#side-panel{
    background-color: #AECBEB;
}
#main-box{
    padding-left: 2rem;
}
.tab-pane li{
    border: 3px solid #71A5DE ;
    font-size: 1.2rem;
    min-height: 5vh;
    margin-top: 1vh;
}
#myTab > .nav-item {
    border: none;
}
.event-cell {
    border-color: black; 
}

.event-cell[style*='background-color: grey;'] {
    border-top-color: grey;
    border-bottom-color: grey;
    
}

