
 
 body {
    overflow-x: clip;
}

li{
    list-style: none;
}
#dashboard {
    margin: 0px;
    padding: 0px;
}
#no-sessions-message{
    font-size: 1rem ;
    
}
.day-of-week-header{
    font-size: 1.5rem;
    font-weight: 600;
}
.wipe {
    transition: color 0.1s;
    position: relative;
    overflow: hidden;
  }
  
  .wipe:after {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--wipe-color);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 1;
  }
  .card-body{
    z-index: 1;
  }
  .wipe:hover {
    color: var(--wipe-color);
  }
  
  .lft-rgt-wipe:after {
    transform: translateX(-100%);
  }
  
  .lft-rgt-wipe:hover:after {
    transform: translateX(0%);
  }
  .hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  flex-direction: column;
  align-items: center;
    opacity: 0;
    transition: opacity 0.15s ;
    z-index: 3; /* Increased z-index to be above other elements */
    font-size: 3rem; /* Adjust size as needed */
    color: #ffffff; /* Adjust color as needed */
  }
  .hover-icon i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .hover-icon span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .event-card:hover .hover-icon {
    opacity: 1;
  }
  
  /* Ensure card content stays behind the icon */
  .event-card .card-body {
    position: relative;
    z-index: 2;
  }
  
/* .navbar-toggler {
    background-color: #007bff;
    
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    
} */
.navbar-toggler {
    border: 0.5px solid #f8f9fb42;
    padding: 0.65rem 0.85rem;
    
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler .fa-bars {
    
    font-size: 1.3rem; /* Adjust size as needed */
  }
  .navbar-brand:hover {
    color: var(--brand-color-2);
  }

.collapse {
    transition: height 0.35s ease; /* Smooth transition */
}
#mobile-nav{
    height: 7.5vh;
    padding: 5px;
    padding-right: 4%;
    
}

#side-panel{
    flex-shrink: 1;
    font-size:2rem ;
    border-right: 2px solid #0353a43b;
    box-shadow: 5px 0px 5px -2px rgba(26, 76, 184, 0.295);
    z-index: 1;
    
}
#side-sticky{
    position: sticky;
    top:0;
    height: 110vh;
}
#side-panel-buttons{
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0 ;
}
#welcome{
    border-bottom: 3px solid #00000050;
    margin-bottom: 0px;
    font-weight: 600;
    min-height: 9vh;
}
#begin{
    color: #061a40;
    font-weight: 600;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.accordion-item{
   letter-spacing: 0.1rem;
    font-size: 0.75rem;
    overflow-x: hidden;
    width: 100%;
    border: 0;
}
.accordion-button:not(.collapsed){
    background-color: var(--brand-color-1);
    opacity: 100%;
    color: white;
    font-weight: 550;
    border: 0;
    letter-spacing: 0.075rem;
    box-shadow: none;
}
.accordion-button{
    font-size: 1.35rem;
    min-height: 4.5rem;
    
}
.accordion-button:hover{
    color: white;
    font-weight: 550;

}

.accordion-item a{
    text-decoration: none;
    
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-collapse{
    width: 85%;
}
.accordion-body{
    position: relative;
}
.side-nav-link{
    font-size: 1.25rem;
    
}
.side-nav-link:hover{
    font-weight: 550;
}
.side-bar-item{
    padding: 20px;
}
#side-bottom{
    height: auto;
    width: 100%;
   display: flex;
   /* flex-direction: column; */
   position:sticky;
   top: 92vh;
   justify-content: center;
}
#side-bottom a{
    display: block;
    width: 100%;
    min-height: 8.5vh;
    border: 1px solid  #ffffff15;
    font-size: 1.5rem;
    text-decoration: none;
    align-content: center;
}

#page-header{
    font-size: 2.5rem;
    font-weight: 600;
}
#main-content{
    
    color:#061a40
}

.session-list{
    border: 2px solid #0353a43b ;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    min-height: 5vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

#myTab > .nav-item {
    border: none;
}
.nav-tabs .nav-link{
    max-width: 40vw;
    border: none;
}
.class-instance-link{
    text-decoration: none;
    color: #061a40;
    display:flex;
    align-items: center;
    
    width: 100%;
    
}   
/* .class-instance-link:hover{
    text-decoration: none;
    color:#ffffff;
    background-color: #172d6b46 ;
} */
.event-cell {
    border-color: black; 
}

.event-cell[style*='background-color: grey;'] {
    border-top-color: grey;
    border-bottom-color: grey;
    
}
.left-padding{
    padding-left: 2rem;
}
.no-padding{
    padding: 0px;
}

.bg-color-light{
    background-color: #1d4e7c11;
}
.bg-color-dark{
    background-color: #1d4e7c3b; 
}

/*--------------------------------------------------------------------------Bookings page----------------------------------*/
#booking-update-time{
    font-size: 0.85rem;
    align-self:flex-end;
    width: 100%;
    text-align: end;
}

.booking-info li{
    border: none;
}
.booking-confirm-text{
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
#confirmation-message{
    font-size: 1.5rem;
}

#upcoming-tab,
#previous-tab{
    font-size: 1.5rem;
    color: #061a408e;
    border:none;
}

.bookings-accordion{
    color: var(--brand-white)
}
 .bookings-accordion:hover{
    font-weight: 500;
    color: #fff;
    filter: brightness(90%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
 }
 .bookings-accordion:not(.collapsed){
    background-color: var(--brand-color-3);
    opacity: 100%;
    color: white;
    font-weight: 500;
    border: 0;
    letter-spacing: 0.1rem;
    box-shadow: none;
    filter: brightness(125%);
}
.bookings-accordion:not(.collapsed):hover{
    filter: brightness(95%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bg-soft-red{
    background-color: #f52c4d;
    color: var(--brand-white)
}
.bg-soft-red:hover {
    background-color: #cc2440;
    color:#fff;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.bg-soft-red:not(.collapsed){
    background-color: #f52c4d;
    color: var(--brand-white)
}
.bg-soft-red:hover:not(.collapsed) :hover{
    background-color: #cc2440;
    color: var(--brand-white);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*-------------------------------------------------------------------------home page*/


#begin-button{
    width: 20vh;
    height: 10vh;
    justify-self: center;
}

#begin-button a {
    color:#061a40
}



/* -----------------------------------------------------------------------------------account details page */

#personal-tab,
#participants-tab{
    font-size: 1.5rem;
    color: #061a408e;
}

#myTab .nav-item  .active,
#myTab .nav-item  .active{
    font-weight: 600;
    color: #061a40;
    background-color: var(--brand-white);
    border-bottom: none;
}
#myTabContent{
    border: none;

}
#add-participant-btn:hover{
    border: 3px solid #00000073;

}
.edit-form-input,
.form-control-plaintext{
    height:26px;
}
.edit-form-input{
    border: 1px solid var(--brand-color-2);
    padding-left: 2px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    
}
.form-control-plaintext{
    padding-left: 3px;
    
}


.btn-sm:hover,
.btn:hover{
    color:#061a40;
    --bs-btn-hover-bg: none;
    filter: brightness(0.85);
}
.participant-accordion:hover{
    letter-spacing: 0.075rem;
}
.participant-accordion-body{
    font-size: 1rem;
}

/*  --------------------------------------------------------Testing area: */


/*---------------------------------------------------Media queries---------------------*/
@media (min-width: 768px) {

    #side-bottom{
        top: 83vh
    }

}
@media (min-width: 992px){
    .accordion-item{
        letter-spacing: 0.1rem;
         font-size: 1rem;
        
     }
}