 body {
    overflow-x: clip;
}

li{
    list-style: none;
}
#dashboard {
    margin: 0px;
    padding: 0px;
}
#side-panel{
    
    font-size:2rem ;
    border-right: 2px solid #0353a43b;
    box-shadow: 5px 0px 5px -2px rgba(26, 76, 184, 0.295);
    z-index: 1;
    
}
#side-sticky{
    position: sticky;
    top:0;
    height: 110vh;
}
#side-panel-buttons{
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0 ;
}
#welcome{
    border-bottom: 3px solid #00000050;
    margin-bottom: 0px;
    font-weight: 600;
    min-height: 9vh;
}

.accordion-item{
    
    font-size: 1.2rem;
}
.accordion-button{
    font-size: 1.45rem;
    min-height: 4.5rem;
}
.accordion-item a{
    text-decoration: none;
    
}
.side-nav-link{
    font-size: 1.25rem;
}
#side-bottom{
    height: auto;
    width: 100%;
   display: flex;
   flex-direction: column;
   position:sticky;
   top: 83vh;
   justify-content: center;
}
#side-bottom a{
    display: block;
    width: 100%;
    min-height: 8.5vh;
    border: 1px solid  #ffffff15;
    font-size: 1.5rem;
    text-decoration: none;
    align-content: center;
}

#page-header{
    font-size: 2.5rem;
    font-weight: 600;
}
#main-content{
    background-color:#f8f9fb ;
    color:#061a40
}

.session-list{
    border: 2px solid #0353a43b ;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    min-height: 5vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

#myTab > .nav-item {
    border: none;
}
.class-instance-link{
    text-decoration: none;
    color: #061a40;
    display:flex;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 5vh;
}   
.class-instance-link:hover{
    text-decoration: none;
    color:#ffffff;
    background-color: #172d6b46 ;
}
.event-cell {
    border-color: black; 
}

.event-cell[style*='background-color: grey;'] {
    border-top-color: grey;
    border-bottom-color: grey;
    
}
.left-padding{
    padding-left: 2rem;
}
.no-padding{
    padding: 0px;
}

.bg-color-light{
    background-color: #1d4e7c23;
}
.bg-color-dark{
    background-color: #1d4e7c54; 
}

/*--------------------------------------------------------------------------Bookings page----------------------------------*/
#booking-update-time{
    font-size: 0.85rem;
    align-self:flex-end;
   
    text-align: end;
}

.booking-info li{
    border: none;
}
.booking-confirm-text{
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
#confirmation-message{
    font-size: 1.5rem;
}

#upcoming-tab,
#previous-tab{
    font-size: 1.5rem;
    color: #061a408e;
}




/*-------------------------------------------------------------------------home page*/


#begin-button{
    width: 20vh;
    height: 10vh;
    justify-self: center;
}

#begin-button a {
    color:#061a40
}



/* -----------------------------------------------------------------------------------account details page */

#personal-tab,
#participants-tab{
    font-size: 1.5rem;
    color: #061a408e;
}

#myTab .nav-item  .active,
#myTab .nav-item  .active{
    font-weight: 600;
    color: #061a40;
}
#add-participant-btn:hover{
    border: 3px solid #00000073;

}

/*  --------------------------------------------------------Testing area: */


