{% extends "base.html" %}

{% block content %}
<h2>Booking Confirmation</h2>
<p>Your booking has been confirmed with the following details:</p>

<ul>
    <li><strong>Booking ID:</strong> {{ booking.id }}</li>
    <li><strong>User:</strong> {{ booking.user }}</li>
    <li><strong>Participant:</strong> {{ booking.participant }}</li>
    <li><strong>Class Instance:</strong> {{ booking.class_instance }}</li>
    <li><strong>Paid or Member:</strong> {% if booking.paid_or_member %}Yes{% else %}No{% endif %}</li>
    <li><strong>Created On:</strong> {{ booking.created_on }}</li>
    {% if booking.updated_on != booking.created_on %}
    <li><strong>Last updated On:</strong> {{ booking.updated_on }}</li>
    {% endif %}
   {% if booking.active == False %}
   <li><strong>This Booking was cancelled</strong> </li>
   {% endif %}
</ul>

<a href="{% url 'dashboard' %}" class="btn btn-primary">Return to Dashboard</a>
{% endblock %}