{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}


{% block additional_styles %}
<style>
  .brand-color-1{
    background-color: {{ customization.brand_color_1 }};
  }
  .brand-color-2{
    background-color: {{ customization.brand_color_2 }};
  }
  .brand-color-3{
    background-color: {{ customization.brand_color_3 }};
  }
  .brand-color-white{ 
    background-color: {{ customization.brand_color_white }};
  }
  .brand-color-dark{
    background-color: {{ customization.brand_color_dark }};
  }
  .brand-text-white{
    color:  {{ customization.brand_color_white }};
  }
  .brand-text-dark{
    color: {{ customization.brand_color_dark }};
  }
  .brand-text-1{
    color: {{ customization.brand_color_1 }};
  }
  .brand-text-2{
    color: {{ customization.brand_color_2 }};
  }
  .brand-text-3{
    color: {{ customization.brand_color_3 }};
  }
  .btn:hover{
    background-color: revert;

  }
  :root {
  --nav-color: {{ customization.brand_color_2 }};
  --brand-white: {{ customization.brand_color_white }};
  --brand-dark: {{ customization.brand_color_dark }};
  --brand-color-1: {{ customization.brand_color_1 }};
  --brand-color-2: {{ customization.brand_color_2 }};
  --brand-color-3: {{ customization.brand_color_3 }};
}

</style>
{% endblock additional_styles %}


{% block content %}
  <div id="dashboard" class="container-fluid g-0">
    
    <div class="row g-0">
      <!-- Toggle Button for Mobile -->
      
      <div id="mobile-nav" class="container-fluid d-flex d-md-none ps-3 justify-content-between align-items-center brand-color-dark">
            <a class="navbar-brand ms-2 brand-text-white" href="{% url 'home' %}">Open Club Manager - {{ customization.business_name }}</a>
            
        <button class="navbar-toggler rounded brand-text-white h-auto" type="button" data-bs-toggle="collapse" data-bs-target="#sidePanel" aria-controls="sidePanel" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars navbar-toggler-icon m-auto h-auto"></i>
        </button>
      </div>
      
      <!-- Side Panel Navigation -->
      <div id="sidePanel" class="collapse d-md-block col-md-3 col-lg-3 col-xl-2 pr-0 brand-color-1 brand-text-white">
          <div id="side-sticky">
            <h2 id="welcome" class="p-2 brand-color-1 text-center">Welcome, {{ user }}</h2>
            
            <div class="accordion accordion-flush brand-text-white d-flex flex-column justify-content-center align-items-center" id="side-accordian">
                <!-- Accordion items go here -->

              <div class="accordion-item rounded brand-color-1 d-flex flex-column justify-content-center align-items-center">
                <!-- <h2 class="accordion-header brand-color-white"> -->
                  <button class="accordion-button collapsed brand-color-1 brand-text-white d-flex justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><i class="fa-regular fa-calendar-days mr-3"></i><br> <span class="w-100 text-center">Timetable</span></button>
                <!-- </h2> -->
                  {% for timetable in timetables %}
                    <div id="flush-collapseOne" class="accordion-collapse collapse rounded brand-color-1 rounded brand-color-white" data-bs-parent="#side-accordian">
                      <div class="accordion-body text-center w-100">
                        <a class="side-nav-link brand-text-dark  text-center stretched-link" href="{% url 'dashboard' %}">{{ timetable.name }}</a>
                      </div>
                    </div>
                  {% endfor %}
                
              </div>
              <div class="accordion-item rounded brand-color-1 d-flex flex-column justify-content-center align-items-center">
                <!-- <h2 class="accordion-header brand-color-white brand-text-white"> -->
                  <button class="accordion-button collapsed brand-color-1 brand-text-white d-flex justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"><i class="fa-solid fa-list mr-3"></i><span class="w-100 text-center">View Your Bookings</span></button>
                <!-- </h2> -->
                <div id="flush-collapseTwo" class="accordion-collapse collapse  rounded brand-color-white" data-bs-parent="#side-accordian">
                  <div class="accordion-body text-center">
                    <a class="side-nav-link brand-text-dark stretched-link" href="{% url 'view_bookings' %}?tab=upcoming">Upcoming Bookings</a>
                  </div>
                  <div class="accordion-body text-center">
                    <a class="side-nav-link brand-text-dark stretched-link" href="{% url 'view_bookings' %}?tab=previous">Previous Bookings</a>
                  </div>
                </div>
                
              </div>
              <div class="accordion-item rounded brand-color-1 d-flex flex-column justify-content-center align-items-center">
                <!-- <h2 class="accordion-header brand-color-white"> -->
                  <button class="accordion-button collapsed brand-color-1 brand-text-white d-flex justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"><i class="fa-solid fa-user mr-3"></i><span class="w-100 text-center">Manage account info</span></button>
                <!-- </h2> -->
                <div id="flush-collapseThree" class="accordion-collapse collapse rounded brand-color-white" data-bs-parent="#side-accordian">
                  <div class="accordion-body text-center">
                    <a class="side-nav-link brand-text-dark stretched-link" href="{% url 'account_details' %}?tab=upcoming">Your personal details</a>
                  </div>
                  <div class="accordion-body text-center">
                    <a class="side-nav-link brand-text-dark stretched-link" href="{% url 'account_details' %}?tab=participants">Manage Participants</a>
                  </div>
                </div>
                
              </div>
              <div class="accordion-item d-md-none">
                <h2 class="accordion-header brand-color-white"><button class="accordion-button collapsed brand-color-1 brand-text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"><i class="fa-solid fa-list mr-3"></i> Logout / Exit</button></h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
                  <div class="accordion-body">
                    <a class="side-nav-link brand-text-dark" href="{% url 'account_login' %}">Logout</a>
                  </div>
                  <div class="accordion-body">
                    <a class="side-nav-link brand-text-dark" href="{% url 'home' %}">Exit OpenClubManager</a>
                  </div>
                </div>
                
              </div>
              <!-- More accordion items... -->
            </div>
            <div id="side-bottom" class="flex-row flex-md-column d-flex justify-content-right align-items-center ">
              
            <a href="{% url 'contact' %}" class="side-bar-item side-nav-link brand-color-1 brand-text-white d-flex align-items-center position-relative"><i class="fa-solid fa-phone"></i><span class="position-absolute top-50 start-50 translate-middle text-center"> Contact us </span></a>
              
            <a href="" class="side-bar-item side-nav-link brand-color-1 brand-text-white  d-flex  align-items-center position-relative"><i class="fa-solid fa-gear"></i><span class="position-absolute top-50 start-50 translate-middle text-center">Settings</span></a>
            </div>
          </div>
       </div>
            
            
        <div id="main-content" class="col col-md-9 col-lg-9 col-xl-10 ps-0 brand-color-white">
              {% block innerframe %}
                <div class="bg-color-dark">
                  <header class="ps-2" id="page-header">Upcoming sessions: {{ timetables.instance.name }}</header>
                </div>  
                      
                      <h2 class="text-center mb-0 pb-2 pt-2 brand-color-white brand-text-2 shadow">This Week</h2>
                      <!-- {% if this_week_by_day %}
                      {% for day, events in this_week_by_day.items %}
                        
                        <div class="{{ day|lower }} left-padding">
                          <h3>{{ day }}:</h3>
                          <ul class="no-padding">
                            {% for event in events %}
                              <li class="session-list"style="background-color: {{ event.class_type.color_value }}">
                                <a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} | {{ event.start_time|time:'H:i' }} to {{ event.finish_time|time:'H:i' }} | {{ event.instance_date|date:"l, j F Y" }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endfor %}
                      {% else %}
                      <div id="no-sessions-message" class="pl-4 pt-2 text-center">
                        <p> There are no sessions remaining this week.</p>
                      </div>
                      {% endif %} -->
                      {% if this_week_by_day %}
  {% for day, events in this_week_by_day.items %}
  <div class="{{ day|lower }} left-padding brand-text-2 mt-2">
    <div class="day-of-week-header">{{ day }}:</div>
      {% if events %}
        {% for event in events %}
          <div class="card event-card wipe lft-rgt-wipe m-3 shadow rounded" style="--wipe-color: {{event.class_type.color_value}}">
            
            <div class="card-body border-left d-flex justify-content-between" style="border-left: 5px solid {{ event.class_type.color_value }}">
              <div class="col">
              <h5 class="" style="color: {{event.class_type.color_value}}">{{ event.class_type }} <br> {{ event.instance_date|date:"l, j F Y" }}</h5>
              <div class="booking-icon hover-icon">
              <i class="fa-solid fa-calendar-plus" style="color: #ffffff;"></i>
              <span class="">Book now</span>
              </div>
            </div>
            <div class="col">
              <p class="">
                <strong>Time:</strong> {{ event.start_time|time:'H:i' }} to {{ event.finish_time|time:'H:i' }}<br>
                <strong>Price:</strong> {{ customization.currency_symbol }}{{ event.class_type.price }}<br>
                <!-- <div class="progress">
                  <div class="progress-bar w-75 hover-fade" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
              </p>
            
              <a data-event-id="{{ event.id }}" class="class-instance-link stretched-link"></a>
            </div>
          </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-muted">No sessions for this day.</p>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <div id="no-sessions-message" class="alert alert-warning text-center">
    <p>There are no sessions remaining this week.</p>
  </div>
{% endif %}

                      <h2 class="text-center mb-0 pb-2 pt-2 bg-color-light brand-color-white brand-text-2 shadow rounded">Next Week</h2>

                      {% for day, events in next_week_by_day.items %}
                      <div class="{{ day|lower }} left-padding  mt-2">
                        <h3>{{ day }}:</h3>
                        <ul class="no-padding">
                          {% for event in events %}
                          <div class="card event-card wipe lft-rgt-wipe m-3 shadow rounded" style="--wipe-color: {{event.class_type.color_value}}">
                            
                            <div class="card-body border-left d-flex justify-content-between" style="border-left: 5px solid {{ event.class_type.color_value }}">
                              <div class="col">
                              <h5 class="" style="color: {{event.class_type.color_value}}">{{ event.class_type }} <br> {{ event.instance_date|date:"l, j F Y" }}</h5>
                              <div class="booking-icon hover-icon">
                              <i class="fa-solid fa-calendar-plus" style="color: #ffffff;"></i>
                              <span class="">Book now</span>
                              </div>
                            </div>
                            <div class="col">
                              <p class="">
                                <strong>Time:</strong> {{ event.start_time|time:'H:i' }} to {{ event.finish_time|time:'H:i' }}<br>
                                <strong>Price:</strong> {{ customization.currency_symbol }}{{ event.class_type.price }}<br>
                                <!-- <div class="progress">
                                  <div class="progress-bar w-75 hover-fade" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </p>
                            
                              <a data-event-id="{{ event.id }}" class="class-instance-link stretched-link"></a>
                            </div>
                          </div>
                          </div>
                        {% endfor %}
                        </ul>
                      </div>
                      {% endfor %}

                      <div class="bg-color-light">
                        <h2 class="left-padding text-center bg-color-light">Later This Month</h2>
                        <ul class="left-padding">
                          {% for event in later_this_month%}

                            <li class="session-list" style="background-color: {{ event.class_type.color_value }}"><a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} - {{ event.start_time|time:'H:i' }} to {{ event.end_time|time:'H:i' }} on {{ event.instance_date|date:"l, j F Y" }}</a></li>
                          {% empty %}
                            <li>No events later this month.</li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="bg-color-dark">
                        <h2 class="left-padding text-center ">Later This Year</h2>
                        <ul class="left-padding">
                          {% for event in later_this_year %}
                            <li class="session-list" style="background-color: {{ event.class_type.color_value }}"><a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} - {{ event.start_time|time:'H:i' }} to {{ event.end_time|time:'H:i' }} on {{ event.instance_date|date:"l, j F Y" }}</a></li>
                          {% empty %}
                            <li>No events later this year.</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div> 
              </div> 
            </div> 
          
        {% endblock %}
    </div>
  </div>
</div>      
  
     
    



  
  <!-- Booking Modal -->
  <div class="modal fade " id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content brand-color-white">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingModalLabel">Book Class</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Your booking form will be loaded here -->
        </div>
      </div>
    </div>
  </div>

  <script src="{% static '/js/script.js' %}"></script>
{% endblock %}
