{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}


{% block additional_styles %}
<style>
  .brand-color-1{
    background-color: {{ customization.brand_color_1 }};
  }
  .brand-color-2{
    background-color: {{ customization.brand_color_2 }};
  }
  .brand-color-3{
    background-color: {{ customization.brand_color_3 }};
  }
  .brand-color-white{ 
    background-color: {{ customization.brand_color_white }};
  }
  .brand-color-dark{
    background-color: {{ customization.brand_color_dark }};
  }
  .brand-text-white{
    color:  {{ customization.brand_color_white }};
  }
  .brand-text-dark{
    color: {{ customization.brand_color_dark }};
  }
</style>
{% endblock additional_styles %}


{% block content %}
  <div id="dashboard" class="container-fluid g-0">
    <div class="row g-0">
      <div id="side-panel" class="col-3 pr-0 brand-color-1">
        <div id="side-sticky">
        <h2 id="welcome" class="pl-4 pt-2 pb-2 brand-color-2 align-self-center">Welcome, {{ user }}</h2>
       
        <div class="accordion accordion-flush" id="side-accordian">
          <!-- Accordion items go here -->

          <div class="accordion-item ">
            <h2 class="accordion-header brand-color-white">
              <button class="accordion-button collapsed brand-color-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Timetable</button>
              {% for timetable in timetables %}
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
                  <div class="accordion-body">
                    <a class="side-nav-link brand-text-dark" href="{% url 'dashboard' %}">{{ timetable.name }}</a>
                  </div>
                </div>
              {% endfor %}
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header brand-color-white"><button class="accordion-button collapsed brand-color-2 " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">View Your Bookings</button></h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
              <div class="accordion-body">
                <a class="side-nav-link brand-text-dark" href="{% url 'view_bookings' %}?tab=upcoming">Upcoming Bookings</a>
              </div>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
              <div class="accordion-body">
                <a class="side-nav-link brand-text-dark" href="{% url 'view_bookings' %}?tab=previous">Previous Bookings</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header brand-color-white"><button class="accordion-button collapsed brand-color-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Manage account info</button></h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
              <div class="accordion-body">
                <a class="side-nav-link brand-text-dark" href="{% url 'account_details' %}?tab=upcoming">Your personal details</a>
              </div>
            </div>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#side-accordian">
              <div class="accordion-body">
                <a class="side-nav-link brand-text-dark" href="{% url 'account_details' %}?tab=participants">Manage Participants</a>
              </div>
            </div>
           
          </div>
          <!-- More accordion items... -->
        </div>
        <div id="side-bottom">
        <a href="" class="side-bar-item text-center brand-color-2 brand-text-dark d-block">Contact us</a>
        <a href="" class="side-bar-item text-center brand-color-2 brand-text-dark d-block">Settings</a>
        </div>
     </div>
      </div>
      <div id="main-content" class="col-9 pl-0">
        {% block innerframe %}
          <div class="brand-color-1">
            <header class="pl-4" id="page-header">Upcoming sessions: {{ timetables.instance.name }}</header>
          </div>  
      
                <h2 class="text-center mb-0 pb-2 pt-2">This Week</h2>

                {% for day, events in this_week_by_day.items %}
                  <div class="{{ day|lower }} left-padding ">
                    <h3>{{ day }}:</h3>
                    <ul class="no-padding">
                      {% for event in events %}
                        <li class="session-list"style="background-color: {{ event.class_type.color_value }}">
                          <a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} | {{ event.start_time|time:'H:i' }} to {{ event.finish_time|time:'H:i' }} | {{ event.instance_date|date:"l, j F Y" }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
                
                <h2 class="text-center mb-0 pb-2 pt-2">Next Week</h2>

                {% for day, events in next_week_by_day.items %}
                <div class="{{ day|lower }} left-padding ">
                  <h3>{{ day }}:</h3>
                  <ul class="no-padding">
                    {% for event in events %}
                      <li class="session-list" style="background-color: {{ event.class_type.color_value }}">
                        <a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} | {{ event.start_time|time:'H:i' }} to {{ event.finish_time|time:'H:i' }} | {{ event.instance_date|date:"l, j F Y" }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}

                <div class="bg-color-light">
                  <h2 class="left-padding text-center">Later This Month</h2>
                  <ul class="left-padding">
                    {% for event in later_this_month %}
                      <li class="session-list" style="background-color: {{ event.class_type.color_value }}"><a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} - {{ event.start_time|time:'H:i' }} to {{ event.end_time|time:'H:i' }} on {{ event.instance_date|date:"l, j F Y" }}</a></li>
                    {% empty %}
                      <li>No events later this month.</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="bg-color-dark">
                  <h2 class="left-padding text-center">Later This Year</h2>
                  <ul class="left-padding">
                    {% for event in later_this_year %}
                      <li class="session-list" style="background-color: {{ event.class_type.color_value }}"><a data-event-id="{{ event.id }}" class="class-instance-link pl-1">{{ event.age_group }} {{ event.class_type }} - {{ event.start_time|time:'H:i' }} to {{ event.end_time|time:'H:i' }} on {{ event.instance_date|date:"l, j F Y" }}</a></li>
                    {% empty %}
                      <li>No events later this year.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">There are no previous sessions on this timetable yet.</div>
          </div>
        {% endblock %}
      </div>
    </div> 
  </div>
  <!-- Booking Modal -->
  <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingModalLabel">Book Class</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Your booking form will be loaded here -->
        </div>
      </div>
    </div>
  </div>

  <script src="{% static '/js/script.js' %}"></script>
{% endblock %}
