{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% load static %}


{% block content %}
<script src="{% static 'js/htmx.min.js' defer %}"></script>


    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">

    <h1>Sports Club Timetable: {{ timetable.name }}</h1>
    
    <input type="date" id="date-picker" value="{{ selected_date }}" 
           hx-get="{% url 'timetable_view' timetable.id %}" 
           hx-target="#timetable-container" 
           hx-trigger="change">
    
    <div id="timetable-container">
        {% include 'dashboard/partials/timetable_grid.html' %}
    </div>
    
    <div id="class-form-container">
        <!-- Form for adding/editing classes will be here -->
    </div>







{% endblock content%}