{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% bootstrap_javascript %}

<script src="{% static 'js/htmx.min.js' defer %}"></script>


    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
    <div class="d-flex justify-content-between">
    <h1 class="m-1">Sports Club Timetable: {{ timetable.name }}</h1>
    <a href="{% url 'admin:dashboard_timetable_change' timetable.id %}" class="btn btn-primary m-1">Return to admin panel</a>
    </div>
    <div id="timetable-container">
        {% include 'dashboard/partials/timetable_grid.html' %}
    </div>
    
    <div id="class-form-container">
        <!-- Form for adding/editing classes will be here -->
    </div>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<!-- Modal Placeholder -->
<div class="modal fade" id="classModal" tabindex="-1" aria-labelledby="classModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="classModalLabel">Add Class Instance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form.media }}
                <form id="classInstanceForm" method="post" action="{% url 'add_class_instance' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="hidden" name="timetable_id" id="id_timetable_id" value="{{timetable.id}}">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <button type="submit" form="classInstanceForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Class edit Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div id="edit-modal-content" class="modal-content" aria-hidden="true">
            <!-- Content loaded dynamically here from partials/class_edit.html-->
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const repeatCheckbox = document.querySelector('input[name="repeat"]');
        const repeatUntilContainer = document.querySelector('label[for="id_repeat_until"]').parentElement;

        function toggleRepeatUntil() {
        const display = repeatCheckbox.checked ? 'block' : 'none';
        repeatUntilContainer.style.display = display;
    }

        repeatCheckbox.addEventListener('change', toggleRepeatUntil);
        toggleRepeatUntil(); // Initial state
    });
</script>





{% endblock content%}