{% extends 'dashboard/dashboard.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% block innerframe %}
  <div class="bg-color-dark">
    <header class="pl-4" id="page-header">Your Bookings</header>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if request.GET.tab != 'previous' %}active{% endif %}"
          id="upcoming-tab"
          data-bs-toggle="tab"
          data-bs-target="#upcoming-tab-pane"
          type="button"
          role="tab"
          aria-controls="upcoming-tab-pane"
          aria-selected="{% if request.GET.tab != 'previous' %}true{% else %}false{% endif %}">
          Upcoming Bookings
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if request.GET.tab == 'previous' %}active{% endif %}"
          id="previous-tab"
          data-bs-toggle="tab"
          data-bs-target="#previous-tab-pane"
          type="button"
          role="tab"
          aria-controls="previous-tab-pane"
          aria-selected="{% if request.GET.tab == 'previous' %}true{% else %}false{% endif %}">
          Previous Bookings
        </button>
      </li>
    </ul>
  </div>

  <div class="tab-content brand-color-white" id="myTabContent">
    <div class="tab-pane fade {% if request.GET.tab != 'previous' %}show active{% endif %} p-5" id="upcoming-tab-pane" role="tabpanel" aria-labelledby="upcoming-tab" tabindex="0">
      <div class="accordion" id="accordionUpcoming">
        {% for booking in upcoming_bookings %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingUpcoming{{ forloop.counter }}"><button class="accordion-button bookings-accordion collapsed {% if booking.active == False %}  bg-soft-red bg-gradient {% else %} brand-color-3 {% endif %} auto-color-text" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpcoming{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseUpcoming{{ forloop.counter }}">
              {% if booking.active == False %}CANCELLED:{%endif%} Booking ID: {{ booking.id }} | {{ booking.class_instance.class_type.name }} | {{ booking.participant }}</button></h2>
            <div id="collapseUpcoming{{ forloop.counter }}" class="accordion-collapse collapse w-100" aria-labelledby="headingUpcoming{{ forloop.counter }}" data-bs-parent="#accordionUpcoming">
              
              <div id="booking-confirmation-container" class="accordion-body w-100">
                <div class="img-container d-flex justify-content-center px-5">
                  <img class="align-self-center {% if booking.active == False %} d-none{% endif %}" src="https://res.cloudinary.com/dyjgm6n1a/image/upload/v1736279027/Confirmed-tick-remove-bg-io_rroa9z.png" alt="green checkmark icon" />
                </div>
                <div class="booking-info w-75 mx-auto">
                  <div class="d-flex justify-content-sm-center booking-confirm-text">
                    {% if booking.active == False %}
                    <p id="booking-cancelled" class="text-center">Booking cancelled</p>
                    {% else %}
                    <p id="booking-confirmed" class="text-center">Booking Confirmed!</p><br/>
                    <p id="confirmation-message" class="text-center">{{ customization.confirmation_message }}</p>
                    {% endif %}
                  </div>
                  <ul class="p-0 fs-6">
                    <li class="d-flex pe-2 justify-content-between bg-color-light "><strong><i class="fa-solid fa-hashtag"></i>      Booking number: </strong> <span class="text-end">{{ booking.id }}</span></li>
            <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-circle-exclamation"></i>      Session Type:</strong> <span class="text-end">{{ booking.class_instance.class_type }}</span></li>
            <li class="d-flex pe-2 justify-content-between bg-color-light "><strong><i class="fa-solid fa-calendar-days"></i>        Date:</strong> <span class="text-end">{{ booking.class_instance.instance_date|date:"l, j F Y" }}</span></li>
            <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-clock"></i>        Start Time:</strong><span class="text-end"> {{ booking.class_instance.start_time|time:"H:i" }}</span></li>
            <li class="d-flex pe-2 justify-content-between bg-color-light"><strong><i class="fa-regular fa-clock"></i>     Finish Time:</strong> <span class="text-end">{{ booking.class_instance.finish_time|time:"H:i" }}</span></li>
            <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-user"></i>      Participant:</strong><span class="text-end"> {{ booking.participant }}</span></li>
            <li class="d-flex pe-2 justify-content-between bg-color-light"><strong><i class="fa-solid fa-money-bill"></i>      Session Price: </strong> <span class="text-end">{{ customization.currency_symbol }}{{ booking.class_instance.class_type.price }}</span></li>
            <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-regular fa-credit-card"></i>     Paid/Member:</strong> <span class="text-end">{% if booking.paid_or_member == True %}Yes{% else %}No{% endif %}</span></li>
                    {% if booking.active == False %}
                    <li class="d-flex pe-2 justify-content-between">
                      <strong class="text-center"><i class="fa-regular fa-circle-xmark"></i></strong><span class="text-center fw-bold">THIS BOOKING HAS BEEN CANCELLED</span>
                    </li>
                    {% endif %}
                  </ul>
                  <div class="d-flex justify-content-sm-between justify-content-center row gap-3">
                    <a href="{% url 'booking_confirmation_pdf' booking.id %}" class="col btn btn-secondary mb-3 px-auto bg-gradient"><i class="fa-solid fa-download"></i><br>Download PDF</a>
                    {% if booking.active == True %}
                      <form action="{% url 'cancel_booking' booking.id %}" class="col p-0 mb-3 bg-soft-red bg-gradient rounded" method="post">
                          {% csrf_token %}
                          <button type="submit" class="d-block w-100 h-100 bg-soft-red bg-gradient rounded fs-6 cancel-booking-btn" data-confirm="Are you sure you want to cancel this booking?">
                              <i class="fa-regular fa-circle-xmark"></i><br>Cancel Booking
                          </button>
                      </form>
                    {% endif %}
                    <span id="booking-update-time" class="text-right">This booking was created/last updated on: {{ booking.updated_on }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p>You have no upcoming bookings.</p>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade {% if request.GET.tab == 'previous' %}show active{% endif %} p-5" id="previous-tab-pane" role="tabpanel" aria-labelledby="previous-tab" tabindex="1">
      <div class="accordion" id="accordionPrevious">
        {% for booking in previous_bookings %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingPrevious{{ forloop.counter }}">
              <button class="accordion-button bookings-accordion collapsed {% if booking.active == False %} bg-soft-red bg-gradient {% else %} brand-color-3 {% endif %} auto-color-text" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrevious{{ forloop.counter }}" aria-expanded="false" aria-controls="collapsePrevious{{ forloop.counter }}">
                {% if booking.active == False %}CANCELLED:{%endif%} Booking ID: {{ booking.id }} | {{ booking.class_instance.class_type.name }} | {{ booking.participant }}
              </button>
            </h2>
            <div id="collapsePrevious{{ forloop.counter }}" class="accordion-collapse collapse w-100" aria-labelledby="headingPrevious{{ forloop.counter }}" data-bs-parent="#accordionPrevious">
              <div id="booking-confirmation-container" class="accordion-body w-100">
                <div class="img-container d-flex justify-content-center px-5">
                  <img class="align-self-center {% if booking.active == False %} d-none{% endif %}" src="https://res.cloudinary.com/dyjgm6n1a/image/upload/v1736279027/Confirmed-tick-remove-bg-io_rroa9z.png" alt="green checkmark icon" />
                </div>
                <div class="booking-info w-75 mx-auto">
                  <div class="d-flex justify-content-sm-center booking-confirm-text">
                    {% if booking.active == False %}
                      <p id="booking-cancelled" class="text-center">Booking cancelled</p>
                    {% else %}
                      <p id="booking-confirmed" class="text-center">Booking Confirmed!</p><br/>
                      <p id="confirmation-message" class="text-center">{{ customization.confirmation_message }}</p>
                    {% endif %}
                  </div>
                  <ul class="p-0 fs-6">
                    <li class="d-flex pe-2 justify-content-between bg-color-light "><strong><i class="fa-solid fa-hashtag"></i> Booking number: </strong> <span class="text-end">{{ booking.id }}</span></li>
                    <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-circle-exclamation"></i> Session Type:</strong> <span class="text-end">{{ booking.class_instance.class_type }}</span></li>
                    <li class="d-flex pe-2 justify-content-between bg-color-light "><strong><i class="fa-solid fa-calendar-days"></i> Date:</strong> <span class="text-end">{{ booking.class_instance.instance_date|date:"l, j F Y" }}</span></li>
                    <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-clock"></i> Start Time:</strong><span class="text-end"> {{ booking.class_instance.start_time|time:"H:i" }}</span></li>
                    <li class="d-flex pe-2 justify-content-between bg-color-light"><strong><i class="fa-regular fa-clock"></i> Finish Time:</strong> <span class="text-end">{{ booking.class_instance.finish_time|time:"H:i" }}</span></li>
                    <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-solid fa-user"></i> Participant:</strong><span class="text-end"> {{ booking.participant }}</span></li>
                    <li class="d-flex pe-2 justify-content-between bg-color-light"><strong><i class="fa-solid fa-money-bill"></i> Session Price: </strong> <span class="text-end">{{ customization.currency_symbol }}{{ booking.class_instance.class_type.price }}</span></li>
                    <li class="d-flex pe-2 justify-content-between "><strong><i class="fa-regular fa-credit-card"></i> Paid/Member:</strong> <span class="text-end">{% if booking.paid_or_member == True %}Yes{% else %}No{% endif %}</span></li>
                    {% if booking.active == False %}
                      <li class="d-flex pe-2 justify-content-between">
                        <strong class="text-center"><i class="fa-regular fa-circle-xmark"></i></strong><span class="text-center fw-bold">THIS BOOKING HAS BEEN CANCELLED</span>
                      </li>
                    {% endif %}
                  </ul>
                  <div class="d-flex justify-content-sm-between justify-content-center row gap-3">
                    <a href="{% url 'booking_confirmation_pdf' booking.id %}" class="col btn btn-secondary mb-3 px-auto bg-gradient"><i class="fa-solid fa-download"></i> Download PDF</a>
                    <span id="booking-update-time" class="text-right">This booking was created/last updated on: {{ booking.updated_on }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p>You have no previous bookings.</p>
        {% endfor %}
      </div>
    </div>
    
    <!-- <div class="tab-pane fade {% if request.GET.tab == 'previous' %}show active{% endif %}" id="previous-tab-pane" role="tabpanel" aria-labelledby="previous-tab" tabindex="1">
      <div class="accordion" id="accordionPrevious">
        {% for booking in previous_bookings %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingUpcoming{{ forloop.counter }}"><button class="accordion-button brand-color-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpcoming{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseUpcoming{{ forloop.counter }}">Booking ID: {{ booking.id }} - {{ booking.class_instance.class_type.name }} | {{ booking.participant }}</button></h2>
            <div id="collapseUpcoming{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="headingUpcoming{{ forloop.counter }}" data-bs-parent="#accordionUpcoming">
              <div id="booking-confirmation-container" class="accordion-body">
                <div class="img-container d-flex justify-content-sm-center">
                  <img class="align-self-center" src="https://res.cloudinary.com/dyjgm6n1a/image/upload/v1736279027/Confirmed-tick-remove-bg-io_rroa9z.png" alt="green checkmark icon" />
                </div>
                <div class="booking-info">
                  <div class="d-flex justify-content-sm-center booking-confirm-text">
                    <p id="booking-confirmed">Booking Confirmed!</p><br />
                    <p id="confirmation-message">{{ customization.confirmation_message }}</p>
                  </div>
                  <ul>
                    <li class="d-flex pl-1 pr-2 justify-content-between bg-color-light">
                      <strong><i class="fa-solid fa-hashtag"></i> Booking number:</strong> <span>{{ booking.id }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between">
                      <strong><i class="fa-solid fa-circle-exclamation"></i> Session Type:</strong> <span>{{ booking.class_instance.class_type }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between bg-color-light">
                      <strong><i class="fa-solid fa-calendar-days"></i> Date:</strong> <span>{{ booking.class_instance.instance_date|date:'l, j F Y' }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between">
                      <strong><i class="fa-solid fa-clock"></i> Start Time:</strong><span>{{ booking.class_instance.start_time|time:'H:i' }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between bg-color-light">
                      <strong><i class="fa-regular fa-clock"></i> Finish Time:</strong> <span>{{ booking.class_instance.finish_time|time:'H:i' }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between">
                      <strong><i class="fa-solid fa-user"></i> Participant:</strong><span>{{ booking.participant }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between bg-color-light">
                      <strong><i class="fa-solid fa-money-bill"></i> Session Price:</strong> <span>{{ customization.currency_symbol }}{{ booking.class_instance.class_type.price }}</span>
                    </li>
                    <li class="d-flex pl-1 pr-2 justify-content-between">
                      <strong><i class="fa-regular fa-credit-card"></i> Paid/Member:</strong>
                      <span>
                        {% if booking.paid_or_member %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </span>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-sm-between">
                    <a href="{% url 'booking_confirmation_pdf' booking.id %}" class="btn btn-secondary"><i class="fa-solid fa-download"></i>Download PDF</a>
                    <span id="booking-update-time" class="text-right">This booking was created/last updated on: {{ booking.updated_on }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p>You have no previous bookings.</p>
        {% endfor %} -->
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const cancelBookingButtons = document.querySelectorAll('.cancel-booking-btn');

    cancelBookingButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            const confirmMessage = button.getAttribute('data-confirm') || 'Are you sure?';
            if (!confirm(confirmMessage)) {
                // Prevent form submission if the user cancels
                event.preventDefault();
            }
        });
    });
});
  </script>
{% endblock %}
